* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  padding: 20px;
}
header {
  background: white;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  justify-content: space-between;
  font-weight: bolder;
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 200px;
}

p {
  font-size: 20px;
}

.grid-1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav a {
  color: black;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bolder;
}

.menu a {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.menu li:last-child {
  margin-right: 0;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
  padding-right: 0.6rem;
  padding-bottom: 7rem;
}


@media screen and (max-width: 800px) {
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.3s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.3s linear;
  }

  nav.active .menu {
    display: block;

    display: none;
    top: 250px;
    left: 60px;
    width: 70%;
    box-shadow: 0 10px 10px rgba(255, 254, 254, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 70px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}





